@charset "utf-8";
/* CSS Document */
.heade {
  padding: 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 33px;
  opacity:1;
	}
.header {
  padding: 20px;
text-align: center;
	}
.header h1 {
  color: #ffffff;
  font-size: 80px;
  opacity:0.6;
	}
.header p {
  color: #ffffff;
  font-size: 200px;
  opacity:0.08;
  margin-top: -300px;
	}
body {
  font-family: Arial;
  padding: 150px;
  background-image: url('https://pb.nichi.co/topple-comic-relax');
  backdrop-filter: blur(5px);
	}
.button {
  padding: 5px;
  text-align: center;
  background: #ffffff;
  margin-top: 30px;
  border-radius: 33px;
 opacity:0.6;
	}
.name {
font-size:30px;
}
.footer {
 margin-top: 200px;
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  opacity:0.6;
}
a{text-decoration: none;}	
